body {
      margin: 0;
      font-family: Arial, sans-serif;
  }
  
  header {
      background-color: #cc6262;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      justify-content: center; space-between;
      align-items: center; /* Canh menu theo chiều dọc */
  }
  
  .container {
      display: flex;
      flex-wrap: wrap;
  }
  
  .main {
      flex: 2;
      padding: 20px;
  }
  
  .sidebar {
      flex: 1;
      padding: 20px;
      background-color: #f4f4f4;
  }
  
  footer {
      background-color: #ad4848;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
  }
  
/* .logo {
      /* Your logo positioning styles here */

  
  .menu {
    display: flex;
    justify-content: center;

}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.menu ul li a:hover {
    color: #ccc;
}

  
  #map {
      height: 400px;
      width: 100%;
  }
  